# Path on the host machine to store SQLite database
DATA_DB_PATH=./data/db
# Path on the host machine to store uploaded images and backups
DATA_UPLOADS_PATH=./data/uploads
# A long random string for authentication
JWT_SECRET=super-secret-random-jwt-key-replace-this
